.App {
  text-align: center;
}
.search-input{
  position: relative;
}
.icon-search{
  position: absolute;
  top: 8px;
  left: 10px;
  color: darkgray;
}
.badge{
  width: 70px !important;
}
.add-card{
  width: 50%;
  margin-top: 50px;
}
.form-group label{
  text-align: left;
}
@media screen and (max-width : 768px) {
    .App{
      width: 100%;
    }
    .add-card{
      width: 100%;
    }
}
